body { background: #745534; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 10px; display: flex; }
.block-notify-0 { color: #2d309f; font-size: 12px; margin-bottom: 5px; }
.block-user-1 { color: #62df6; font-size: 21px; margin-bottom: 5px; }
.block-logger-2 { color: #b2d38f; font-size: 21px; margin-bottom: 5px; }
.block-auth-3 { color: #16027e; font-size: 17px; margin-bottom: 5px; }
.block-notify-4 { color: #abd2e1; font-size: 15px; margin-bottom: 5px; }
.block-sms-5 { color: #35ce5c; font-size: 16px; margin-bottom: 5px; }
.block-search-6 { color: #3336e1; font-size: 19px; margin-bottom: 5px; }
.block-database-7 { color: #7b96a1; font-size: 21px; margin-bottom: 5px; }
.block-cache-8 { color: #6189a3; font-size: 20px; margin-bottom: 5px; }
.block-shipping-9 { color: #fb9415; font-size: 16px; margin-bottom: 5px; }
.block-payment-10 { color: #a7be6; font-size: 20px; margin-bottom: 5px; }